@import './button';
@import './select';
@import './option';
@import './icon';
@import './card';
@import './dateSelector';
@import './tree';
@import './file';
// 统一按钮样式

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
}
.container {
    background-color: #f8f8f8;
    padding: 30px;
}
.background-wall {
   background-color: #f8f8f8;
   padding: 20px;
}