// 点赞
.kd-icon-support-h {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/support_y_new.svg');
}

.kd-icon-support {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/support_n_new.svg');
}

.kd-icon-eyes {
  display: inline-block;
  background-image: url('../assets/images/icons/icon_eyes.svg');
  width: 16px;
  height:16px;
}

.kd-icon-comment {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/comment.svg');
}

.kd-icon-collect-h {
  display: inline-block;
  width: 16px;
  height:16px;
  background-image: url('../assets/images/icons/icon_collection_h_new.svg');
}

.kd-icon-collect {
  display: inline-block;
  background-image: url('../assets/images/icons/icon_collection_new.svg');
  width: 16px;
  height: 16px;
}

.kd-icon-adopte {
  display: inline-block;
  width:16px;
  height:16px;
  background-image: url('../assets/images/icons/icon_adopted_action.svg')
}

.kd-icon-recommend {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/icon_editor_recommendation.svg');
}

.kd-icon-useful-h {
  display: inline-block;
  width:16px;
  height:16px;
  background-image: url('../assets/images/icons/icon_useful_light_bottom.svg')
}

.kd-icon-useful {
  display: inline-block;
  width:16px;
  height:16px;
  background-image: url('../assets/images/icons/icon_useful_bottom.svg')
}

.kd-icon-useless-h {
  display: inline-block;
  width:16px;
  height:16px;
  background-image: url('../assets/images/icons/icon_unuseful_light_bottom.svg')
}

.kd-icon-useless {
  display: inline-block;
  width:16px;
  height:16px;
  background-image: url('../assets/images/icons/icon_unuseful_bottom.svg')
}

.kd-icon-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/icon_include.svg');
}

.kd-icon-to-top {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../assets/images/icons/icon_to_top.svg');
}

.kd-icon-to-down {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url('../assets/images/icons/icon_cancel_top.svg');
}

.kd-icon-edit {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/edit_3_bottom.svg');
}

.kd-icon-delete {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/icon_recycle_delete_bottom.svg');
}

.kd-icon-share {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/share.svg');
}

.kd-icon-ask {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../assets/images/icons/ask_question.svg');
}

.kd-icon-answer {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../assets/images/icons/answer2.svg');
}

.kd-icon-artical {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../assets/images/icons/artical.svg');
}

.kd-icon-hot-f {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/hot_first_icon.svg')
}

.kd-icon-hot-s {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/hot_second_icon.svg')
}

.kd-icon-hot-t {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/hot_third_icon.svg')
}

.icon-upload-image {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/icon_image_btn.svg')
}


.kd-icon-add-h {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../assets/images/icons/icon-add-small-blue.svg')
}

.icon-add-cicle {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/icon-add.svg')
}

.kd-icon-fold {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/icon_fold.svg')
}

.kd-icon-unfold {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/icons/icon_unfold.svg')
}

.icon-arrow-up {
  width:0;
	height:0;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-top: 6px solid red;
}

.kd-icon-loop {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../assets/images/icons/ic_ended.svg')
}

.kd-icon-clock {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../assets/images/icons/ic_wating.svg')
}

.kd-icon-right-c {
  display: inline-block;
  width:16px;
  height:16px;
  background-image: url('../assets/images/icons/ic_morebtn.svg')
}

.kd-icon-qr {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../assets/images/icons/icon_show_Qr.svg')
}

.kd-icon-search {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url('../assets/images/icons/search.svg');
}

.kd-icon-label {
  display: inline-block;
  width:16px;
  height:16px;
  background-image: url('../assets/images/icons/icon_label.svg')
}

.kd-icon-catalog {
  display: inline-block;
  width:20px;
  height:20px;
  cursor: pointer;
  background-image: url('../assets/images/icons/icon_catalog.svg')
}

.kd-icon-classfy {
  display: inline-block;
  width: 21px;
  height: 22px;
  background-image: url('../assets/images/icons/icon_classfy_card.svg')
}

.kd-icon-msg {
  display: inline-block;
  width: 25px;
  height: 24px;
  background-image: url('../assets/images/icons/private_msg.svg');
}

.kd-icon-notify {
  display: inline-block;
  width: 22px;
  height: 20px;
  background-image: url('../assets/images/icons/notify.svg');
}

/* file-icon */
.kd-icon-file-default {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url('../assets/images/icons/kd_icon_file_default.svg');
}

.kd-icon-file-excel {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url('../assets/images/icons/kd_icon_file_excel.svg');
}

.kd-icon-file-pdf {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url('../assets/images/icons/kd_icon_file_pdf.svg');
}

.kd-icon-file-ppt {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url('../assets/images/icons/kd_icon_file_ppt.svg');
}

.kd-icon-file-word {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url('../assets/images/icons/kd_icon_file_word.svg');
}

.kd-icon-file-zip {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url('../assets/images/icons/kd_icon_file_zip.svg');
}

.kd-icon-file-zip {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url('../assets/images/icons/kd_icon_file_zip.svg');
}

.kd-icon-right {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-image: url('../assets/images/icons/icon_left.svg');
}
