.kd-tree {
   display: inline-block;
   width: 240px;
   min-height: 50px;
   font-size: 14px;
   padding: 10px 0 !important;
   .kd-bar {
       padding: 10px;
       position: relative;
       display: flex;
       align-items: center;
       &:hover {
         color: #2386ee!important;
         background: #f3f9ff;
       }
       .control-area {
         display: inline-block;
         float: right;
         cursor: pointer;
         position: absolute;
         right: 10px;
       }
   }
   .kd-1 {
      .kd-1-bar {
        font-size: 15px;
        position: relative;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
      }  
   }
}
